/* LAYOUT------------------------------------------------------*/
.col2 {
  width:48% !important;
  margin: 0 1% !important;
  float:left;
}
.reveal .col2 ol, .reveal .col2  dl, .reveal .col2  ul {
    display:table;
}
.float-left {
  float:left;
}
.reveal .left {     text-align: left; }
.reveal .left PRE { margin: 20px 0; width: 100%; }
.reveal .clear {
  clear: both;
}
.col3-l { float: left; width: 33% }
.col3-lc { float: left; width: 66% }
.col3-c { width: 33%; display: inline-block; }
.col3-cr { float: right; width: 66% }
.col3-r { float: right; width: 33% }
.small p, .small li, p.small, div.small, span.small, .small code, .TABLE.small, .small TH {
    font-size: 94% !important;
}
.x-small p, .x-small li, p.x-small, div.x-small, span.x-small, .x-small code, TABLE.x-small, .x-small TH {
    font-size: 86% !important;
}
.reveal .x-small TH, .reveal .x-small TD, .x-small TD P {
  padding: 0.1em 0.25em;
  margin: 8px 0;
}
.xx-small p, .xx-small li, p.xx-small, div.xx-small, span.xx-small, .xx-small code, .xx-small TABLE, .xx-small TH {
    font-size: 78% !important;
}
/* COLORS------------------------------------------------------*/
/* TODO: update colours */
.reveal .colors.lightbg { background: #fff8f1d0; }
.reveal .colors.decentlightbg { background: #fff8f130; }
section.red.background {
  background-color: red;
}
section.green.background {
  background-color: green;
}
/* STYLINGS----------------------------------------------------*/
section.degrade {
  text-transform: none;
}

/* CODE REFS---------------------------------------------------*/
.c-ref  {
    font-weight: lighter !important;
    font-size: 50% !important;
    vertical-align: super !important;
    margin: 0 8px !important;
    opacity: 0.6  !important;
}
.c-ref > code {
    border: 1px solid rgba(255,255,255,.6) !important;
    background:  darkblue !important;
}
A.c-ref > code {
    color: whitesmoke !important;
    text-decoration: underline !important;
}
